body {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  background-color: #eaebed;
  button:hover {
    cursor: pointer;
  }
}
@media only all and (max-width: 1300px) {
  body {
    width: auto;
  }
}
